[Desktop Entry]
Name=Sox Control Center 2026

Type=Application
TryExec=soxbar
Exec=soxbar -- %U
Terminal=false
Categories=AudioVideo;
StartupNotify=false
Icon=audio-x-generic
Comment=soxbar 2026
Terminal=false
