[Desktop Entry]
Name=Sox Control Center 2026

Type=Application
TryExec=soxbar
Exec=soxbar -- %U
Terminal=false
Categories=Audio;
StartupNotify=false
Path=$HOME/.local/bin/soxbar;/usr/bin/soxbar;
Icon=audio-x-generic
Comment=soxbar 2026
Terminal=false
